<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Setup" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="d870e1a3-a836-4bfb-88db-15dc86300937">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
